/* CSS reset to create a more consistent look across different browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Use a basic, widely-supported font */
    line-height: 1.6; /* A basic line-height for readability */
    color: #333; /* A basic text color that's not too harsh */
    background-color: #fff; /* A basic background color */
}

/* Add your custom CSS below this line */

h1, form.order_form{
    background-color: #e3dcc0 ;
}
 
h1, h2 {
    font-weight: bold;
    text-align: center;
}
